<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMG Sweden</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <div class="container">

        <div class="logo-section">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">

            <h1>MMG Sweden</h1>
        </div>

        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/events">Events</a>
            <a href="/gallery">Gallery</a>
            <a href="/contact">Contact</a>
        </nav>

    </div>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>© 2026 MMG Sweden | Non-Profit Association</p>
</footer>

</body>
</html>